.nav{
    position: fixed;
    top: 0px;
    height: 2rem;
    background-color: white;
    width: 100%;
    text-align: center;
    background-color: #fff;
    border-bottom: 1px solid rgba(0,0,0,.0975);
    z-index: 1;
    height: 77px;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;

}
.nav .content{
    max-width: 1024px;
    width:100%;
    height: 100%;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    padding: 0px 20px;
    
}

.left{
    flex-grow: 1;
    display: flex;
    align-items: center;
}
.right{
    flex-grow: 1;
    display: flex;
    justify-content: flex-end;
    align-items: center;    
}
.logo{
    display: block;
    overflow: hidden;
    /* text-indent: 110%;
    white-space: nowrap; */
    background-position: 0 -136px;
    height: 35px;
    width: 176px;
    background-image: url(img/fb48443ec9d3.png);
    background-repeat: no-repeat;
} 
.right .item{
    margin-left: 30px;
}
.nav .icon{
    display: block;
    overflow: hidden;
    background-image: url(img/fb48443ec9d3.png);
    background-repeat: no-repeat;
    height: 24px;
    width: 24px;
}
.explore{
    background-position: -316px -315px;
}
.activity{
    background-position: -52px -357px;
}
.profile{
    background-position: -391px -130px;
}

