
.post {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    padding: 0;
    margin: 0;
    margin-bottom: 60px;
    border-radius: 3px;
    border: 1px solid #e6e6e6;
    background-color: #fff;
}
.header{
    display: flex;
    align-items: center;
    border-bottom: 1px solid #efefef;
    height: 60px;
    padding: 16px;
    box-sizing: border-box;
}
.photo{
    width:30px;
    height: 30px;
    margin-right: 12px;
}
.photo img{
    width: 100%;
    height: 100%;
    border-radius: 50%;
    object-fit: cover;
}
.id{
    font-weight: 500;
}
.image{
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.footer{
    padding: 0 16px;
    display: flex;
    flex-direction: column;
    align-items: stretch;
}
.action{
    display: flex;
    flex-direction: row;
    padding: 8px 0px;
}
.action .icon{
    display: block;
    overflow: hidden;
    text-indent: 110%;
    white-space: nowrap;
    background-repeat: no-repeat;
    height: 24px;
    width: 24px;
    background-image: url(/img/fb48443ec9d3.png);    
}
.action .like{
    background-position: -182px -357px;
    /* background-position: -104px -357px; */
    margin-right: 10px;
}
.action .heart{
    background-position: -104px -357px;
    margin-right: 10px;
}
.action .comment{
    background-position: 0 -383px;
    margin-right: 10px;
}

.action .save{
    /* background-position: -26px -357px; */
    margin-left: auto;
    margin-right: -8px;
    background-position: -312px -357px;
}

.likes{
    font-weight: 500;
    padding:4px 0px;
}

.comments .comment{
    margin:4px 0px;
}

.comment span{
    margin-left: 6px;
}

.time{
    color: #999;
    font-size: 11px;
    line-height: 18px;
    margin:4px 0px;
}

.add-comment{
    margin-top: 4px;
    border-top: 1px solid #efefef;
    /* color: #999; */
    font-weight: 500;
    padding: 16px 0;
}
.add-comment input{
    height: 18px;
    background: 0 0;
    border: none;
    /* color: #262626; */
    font-size: inherit;
    height: 18px;
    max-height: 80px;
    outline: none;
    padding: 0;
    resize: none;
    overflow: hidden;
    width: 100%
}
::placeholder { 
    color: #999;
}